@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.pp_info, .pp_success, .pp_warning, .pp_error {
    padding: 10px;
    margin: 10px 0;
}

    .pp_info:before, .pp_success:before, .pp_warning:before, .pp_error:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: .2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .pp_info:before {
        content: "f05a";
    }

    .pp_success:before {
        content: 'f00c';
    }

    .pp_warning:before {
        content: 'f071';
    }

    .pp_error:before {
        content: 'f057';
    }

.pp_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.pp_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.pp_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.pp_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
